.highlight {font-family: monospace;}
.highlight .frp {color: #247000;}
.highlight .private_property {color: #8348b0;}
.highlight .event {color: #a36102;}
.highlight .fnArgs {color: #4100a3;}
.highlight .comment {color: #3c7;}
.highlight .cls {color: #3bb;}
.highlight .iid {color: #4100a3;}
.highlight .value {color: #005f3b;}
.highlight .keyword {color: #33f;}
.highlight .property {color: #28a;}