.highlight {font-family: consolas, monospace; color: #000}
.highlight .frp {color: #247000;}
.highlight .private_property {color: #8348b0;}
.highlight .event {color: #a36102;}
.highlight .fnArgs {color: #4100a3;}
.highlight .comment {color: #008000;}
.highlight .cls {color: #7ccadd;}
.highlight .new_cls {color: #4c9aad;}
.highlight .iid {color: #4100a3;}
.highlight .value {color: #005f3b;}
.highlight .keyword {color: #33f;}
.highlight .property {color: #c33eac;}