* {
    margin: 0;
    padding: 0;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

body {
    font-family: 'Helvetica Neue', 'Segoe UI', 'liberation sans', sans-serif;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}

input {
    font-size: 17px;
    text-transform: inherit;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
    margin-bottom: 6px;
    margin-top: 12px;
}

input[type="button"] {
    padding: 14px 26px;
    background: #2744ae;
    color: white;
    border-radius: 5px;
}

input[type="button"]:disabled {
    background: #bbb;
}

.clearfix {
    clear: both !important;
}

._Q_KB_Button {
    background: #ffa834;
    color: #fff;
    border: solid 1px #fff;
    line-height: 22px;
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    transition: background 0.3s;
    border-radius: 5px;
    text-shadow: 0.5px -1px #9c502c;
}

    ._Q_KB_Button.down {
        background: #ff582d;
    }
